div #ig-box {
    display: flex;
    justify-content: center;
}


#container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* #profile-picture{
    display: flex;
    justify-content: space-around;
} */

container #page-info {
    display: flex;
    justify-content: center; 
    flex-direction : column;
    justify-content: flex-end;
}


#ig-logo {

    height: 150px;
    width: 150px;
} 



#ig-header {
    display: flex;
    
}


#header-welcome {
    display: flex;
    
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    

} 




#follow-data {
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: center; */
    /* justify-content: flex-end; */
} 


/* 
#page-bio {
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: flex-end;
} */

/* #ig-logo{
    justify-content: flex-start;
    display: flex;
} */


#ig-verified-check {
    justify-content: center; 
    display: flex; 
    height: 18px;
    width: 18px;
} 

#follow-btn{
    height:30px;
    width: 70px;
}

#container2 {
    display: flex;
    justify-content: space-between;
    height: 130px;
    width: 730px;
}


.story {
    
    height: 56px;
    weight: 56px;
    
}

#container2 div {  
    display: flex;
    flex-direction: column;
    

}